* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stream-and-chat-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 1px solid black;
  height: 100vh;
}

.stream {
  width: 75%;
}

.chat {
  width: 25%;
}
